
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #AAA;
}

#header {
    margin: auto;
    text-align: center;
}

    #header h1 {
        background-color: #666;
        padding: 1em 0;
    }

#image {
    width: 50%;
    display: inline-block;
}

#content-column {
    display: inline-block;
    width: 48%;
    position: absolute;
    margin: 0 1em;
}

    #content-column p {
        font-size: 20px;
        margin: 1em 0;
    }

    #content-column ul {
        margin: 1em;
    }

    hr {
        margin: 1em 0;
    }

a {
    color: #000;
    padding:1em 0;
}

.column {
    width:50%;
    display:inline-block;
}

.catImage{
    width:100%;
}

#add-space{
    position:absolute;
    right:0;
}